.hero{
    overflow: hidden;
    background-image:linear-gradient( rgba(80, 76, 67, 0.685),rgba(67, 67, 97, 0.609) ) ,url("images/back-Img.png");
   height: 620px;
  background-size: cover;
 
 background-attachment: fixed;
 
 display: flex;
 justify-content: center;
 align-items: center;
  text-align: center;
  color: white;
}

.hero-content h3, h4{
    margin-top:15px;
}

    /* carosoul */

.initiativs{
    
    margin: 10px 5%;
    border-radius: 15px;
    text-align: center;
    
}
.initiativs h2{
    display: inline-block;
    border-bottom: 2px solid rgba(137, 43, 226, 0.692);
    padding-bottom: 10px;
    
}
.carosoul{
        position: relative;
        height: 30rem;
        margin-bottom: 40px;
      
    }

@media (min-width:780px) {
    .carosoul{
        margin: auto 12% 40px; 
    }
}    
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 21rem;
        height: 27rem;
        background-color: white;
        box-shadow: 0px 15px 25px rgba(90, 90, 194, 0.609);
        
        border-radius: 15px;
      }
     .caro-card{
         width: 95%;
         height: 97%;
         margin: auto;
         overflow: hidden;
     }
     
     
      .swiper-3d .swiper-slide-shadow-left {
        background-image: none;
    }
    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }


  /* footer */
  .bottom-sec{
    background-image: url("images/wave.svg");
    background-size: cover;
    background-position: center;
    height: 465px;
    position: relative;
}

.bottom-content{
  width: 60%;
  height: 58%;
  position: absolute;
  bottom: 100px;
  left: 25% ;
  margin:  20px;
  background-color: white;
  display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
  box-shadow: -10px -10px 15px rgba(212, 212, 241, 0.609);
 border-radius: 16px;
 
}
/* Heading of all div*/
.subcontent h2{
  width: fit-content;
  margin-bottom: auto;
   margin-left: 2px;
  position: relative;
  margin-top: 20px;
  padding-bottom: 10px;
}
.underline1{
   width:100%;
 
   
   height: 3px;
   background: white;
   border-radius: 50px;
   position: absolute;
   overflow: hidden;
}
.underline1 span{
   width: 100px;
   height: 100%; 
   border-radius: 5px;
   background: linear-gradient(to top right, #cc0070 40%, #ff66cc 100%);
   position: absolute;
   overflow: hidden;
   animation: moving 2s  linear infinite;
}
@keyframes moving{
  0%{
      left: -150px;
  }
  
 100% {
      left: 134px;
  }
 }

 

/* social icon of follow us*/

.subcontent a .fab {
  font-size: 35px;
   color: black;
   margin: 10px;
   margin-top: 30px;
}
#facebook{
   color: #3b5998;
}
#instagram{
   color: black;
   
}
#linkedin{
  color: #0077b5;
}
#twitter{
  color: #55acee;
}
#telegram{
  color: #00405d;
}
.subcontent  #facebook:hover{
  transform: translateY(-10px);
  color:  #1877f2 ;
}
.subcontent  #instagram:hover{
  transform: translateY(-10px);
  color:  #c32aa3 ;
}
.subcontent  #linkedin:hover{
  transform: translateY(-10px);
  color: #dd5143;
}
.subcontent  #twitter:hover{
  transform: translateY(-10px);
  color: #14171A;
}
.subcontent  #telegram:hover{
  transform: translateY(-10px);
  color:  #0088cc ;
  
}
/* content left*/

.email-id{
  width: fit-content;
  margin-top: -20px ;
  
 /* border-bottom: 1px solid;*/
  font-size: 18px;
  font-style: italic;
  padding-top: -1px;
  margin-left: 15px;
  color: black;
}
.mobile-no{
  width: fit-content;
  margin-top: -28px ;
  margin-left: 15px;
  padding-top: -10px;
  font-size: 18px;
  color: black;
}
.far{
  font-size: 23px;
  display: flex;
  margin-top: 25px;
  margin-left: -20px;
  color: black;
}
.fas{
  font-size: 25px;
  margin-left: -20px; 
  margin-top: 30px; 
}

/* Newsletter */

input {
  padding: .8rem 1rem;
  width: 40%;
  border-radius: 5rem;
  outline: none;
  border: .1rem solid #d1d1d1;
  font-size: .7rem;
}
.subscribe-btn {
  padding: .8rem 2rem;
  border-radius: 4rem;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  color: #fff;
  font-size: .7rem;
  
  border: none;
  outline: none;
  cursor: pointer;
  
}

/* copyright */

.copyright p{
    font-size: 20px;
    margin-top: 40px;
}
@media (max-width:1000px) {
 .bottom-content{
     width: 75%;
     position: absolute;
     bottom: 65px;
     left:12.5% ;
     height: 300px;  
 } 
}
@media (max-width:600px) {
 .bottom-content{
     width: 80%;
     position: absolute;
     margin: 10px;
     bottom: -100px;
     left:9% ;  
     height: 500px;
    background-color:  #fff;
 }
 
 
 .copyright p{
  font-size: 15px;
  margin-top: 40px;
}
}